Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-JWT-Extended
Flask-Cors
flask_login
python-dotenv
Werkzeug
psycopg2-binary
eventlet
gunicorn
flask_socketio
flask_mail
geopy
flask_apscheduler
flask_wtf
requests
