{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
 <h5 class="text-success">
   <h5 class="text-success">
  Withdraw from Wallet (Balance: ₦{{ "{:,.2f}".format(balance or 0) }})
</h5>

</h5>



 <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.amount.label }}
            {{ form.amount(class="form-control") }}

            {% for error in form.amount.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <br>
        {{ form.submit(class="btn btn-success") }}
    </form>
</div>

{% endblock %}
